<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
          <div>
            <h3> Menu </h3>
          </div>
     </div>


    <div fxFlex>
      <md-grid-list cols="2" rowHeight="200px">
          <!-- <md-grid-tile *ngFor="let dish of dishes" (click)="onSelect(dish)"> -->
              <md-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
            <img height="200px" src={{dish.image}} alt={{dish.name}}/>
            <md-grid-tile-footer>
                <h1> {{dish.name | uppercase}} </h1>
            </md-grid-tile-footer>
            </md-grid-tile>
          </md-grid-list>
      </div>

      <!-- <div fxlex *ngIf = "selectedDish">
          <md-card>
            <md-card-header>
                <md-card-title>
                  {{selectedDish.name | uppercase}}
                </md-card-title>
              </md-card-header>
            <img md-card-image src="{{selectedDish.image}}" alt="{{selectedDish.name}}">
          <md-card-content>
               <p>{{selectedDish.description}}</p>
          </md-card-content>
          <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHAre</button>
          </md-card-actions>
          </md-card>
      </div> -->
     <!-- <app-dishdetail [dish] = "selectedDish"></app-dishdetail> -->

<div>

